description "Run prosperdashboard"

start on runlevel [3]
stop on runlevel [!2345]

respawn

setuid prosperdashboard
setgid prosperdashboard

env GOPATH={{ prosperdashboard_gopath }}
env GOROOT={{ prosperdashboard_goroot }}
env PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:{{ prosperdashboard_goroot }}/bin

respawn

script
	cd $GOPATH/src/github.com/mtlynch/prosperbot-frontend
	go run main.go --port {{ prosperdashboard_app_port }}
end script
